@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;600&display=swap');

h1 {
  text-align: center;
  text-decoration: underline;
}

ul {
  list-style: none;
}

body {
  font-family: Inconsolata, Geneva, Tahoma, sans-serif;
  background: rgb(211, 250, 252)
}

#locationDiv {
  text-align: center;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  border: .1em black solid;
  background-color: white;
  padding: 1em;
}

#produce-ul {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

#buttons-div {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

#next-btn {
  margin-left: auto;
}

button {
  background-color: rgb(39, 63, 63);
  color: white;
  border: none;
  font-size: 2rem;
  padding: .5em 1em;
  border-radius: .5em;
}

button:hover {
  background-color:rgb(72, 107, 107);
  cursor: pointer;
}